$color-primary:rgb(137, 250, 194);
$color-secondary:rgb(121, 240, 10);
$color-tertiary:rgb(24, 104, 64);

$color-tertiary-light-1 : #4fccf6;
$color-tertiary-light-2 : rgb(7, 110, 144);


$color-grey-dark : rgb(128, 126, 126);
$color-grey-dark1 : rgb(65, 63, 63);

$color-grey-light-1 : #f7f7f7;
$color-grey-light-2 : #eee;

$color-white:#fff;
$color-dark : #000;

$color-primary-op:rgba(137, 250, 194,0.5);
$color-secondary-op:rgba(49, 159, 104,0.7);
$color-secondary-new:rgba(127, 249, 129, 0.8);